<header>
  <div *ngIf="board" class="options">
    <icon-picker
      [(selected)]="board.icon"
      [title]="'Change Icon'"
    ></icon-picker>

    <color-picker [(selected)]="board.color"></color-picker>

    <button class="button">
      <i-con name="image"></i-con>
      <span>Change Cover</span>
    </button>

    <button (click)="deleteBoard()" class="button ms-auto" title="Delete">
      <i-con name="trash"></i-con>
    </button>

    <button class="button" title="More Options">
      <i-con name="more"></i-con>
    </button>
  </div>

  <main>
    <input
      *ngIf="board"
      [(ngModel)]="board.title"
      placeholder="Unnamed Board"
      class="plain-text-input"
      type="text"
    />
  </main>
</header>

<main>
  <cl-list *ngFor="let list of lists" [list]="list"></cl-list>

  <button (click)="newList()" class="button primary-icon add">
    <i-con name="plus"></i-con>
    <span>New List</span>
  </button>
</main>
