
:host
  display: flex
  flex: 1
  flex-direction: column

  > header
    .options
      align-items: flex-end
      display: flex
      height: calc(var(--dashboard-cover) - var(--dasbhoard-padding))
      padding: 16px 0
      opacity: 0
      transition: all .3s ease

      .button
        background: #fff

        + .button
          margin-inline-start: 8px

    &:hover .options
      opacity: 1

    > main
      margin: var(--dasbhoard-padding) 0

      input
        font-size: 2em
        font-weight: bold

  > main
    display: grid
    gap: 16px
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

    .add
      border: 1px dashed #cdcdcd
      flex-direction: column
      justify-content: center
      transition: all .3s ease

      &:hover
        border-color: transparent
        box-shadow: var(--shadow)

      i-con
        font-size: 1.5em
        margin: 0 0 16px
