<header>
  <div class="logo"><span>C</span>eck<span>L</span>ist</div>

  <div class="profile">
    <figure>
      <img
        src="https://avatars.githubusercontent.com/u/37767911?v=4"
        alt="Ali Rahmani"
      />
    </figure>
  </div>
</header>

<main>
  <header>
    Boards
    <span *ngIf="boards.length" class="badge">{{ boards.length }}</span>
  </header>

  <a
    *ngFor="let board of boards; trackBy: trackByUid"
    [routerLink]="'/board/' + board.uid"
    class="button"
  >
    <i-con name="board"></i-con>
    <span>{{ board.title || "Unnamed Board" }}</span>
    <span *ngIf="board.lists.length" class="badge">{{
      board.lists.length
    }}</span>
  </a>

  <button (click)="newBoard()" class="button add">
    <i-con name="plus"></i-con>
    <span>New Board</span>
  </button>
</main>

<footer>
  <button class="button">
    <i-con name="logOut"></i-con>
    <span>Logout</span>
  </button>
</footer>
