<header>
  <div [style.color]="currentBoard?.color" class="logo">
    <span class="capital">C</span><span>eck</span><span class="capital">L</span
    ><span>ist</span>
  </div>

  <div class="profile">
    <figure>
      <img
        src="https://avatars.githubusercontent.com/u/37767911?v=4"
        alt="Ali Rahmani"
      />
    </figure>
  </div>
</header>

<main>
  <header>
    Boards
    <span *ngIf="boards.length" class="badge">{{ boards.length }}</span>
  </header>

  <a
    *ngFor="let board of boards; trackBy: trackByUid"
    [routerLink]="'/board/' + board.uid"
    [style.--color]="board.color"
    [class.current]="board === currentBoard"
    [class.no-name]="!board.title"
    class="button"
  >
    <i-con name="board"></i-con>
    <span>{{ board.title || "Unnamed Board" }}</span>
    <span *ngIf="board.lists.length" class="badge">{{
      board.lists.length
    }}</span>
  </a>

  <button (click)="newBoard()" class="button primary-icon">
    <i-con name="plus"></i-con>
    <span>New Board</span>
  </button>
</main>

<footer>
  <button class="button">
    <i-con name="logOut"></i-con>
    <span>Logout</span>
  </button>
</footer>
