
:host
  background: #fff
  border-radius: var(--radius)
  display: flex
  flex-direction: column
  padding: 16px

  > header
    input
      font-size: 1.2em
      font-weight: bold

  > main
    margin-top: 16px

cl-item
  + cl-item
    margin-top: 16px
