@import ./assets/styles/animations
@import ./assets/styles/button

:root
  --primary: #008bee

  --shadow: 0px 20px 32px -8px #dddddd61

  --radius: 8px

  --dasbhoard-padding: 32px
  --dashboard-cover: 10vh

*
  box-sizing: border-box

html, body
  min-height: 100vh

body
  background: #f7f6f9
  font-family: sans-serif
  font-size: 16px
  margin: 0
  user-select: none

h1, h2, h3, h4, h5, h6, p, figure
  margin: 0

input.plain-text-input
  all: unset
  font-family: inherit
  font-size: 1em

span.badge
  background: #ababab
  color: #fff
  border-radius: var(--radius)
  font-size: 12px
  margin-inline-start: auto
  margin-inline-end: -.5em
  min-width: min-content
  padding: 1px 6px
