@import ./assets/styles/button

:root
  --primary: blue

  --radius: 8px

  --dasbhoard-padding: 32px
  --dashboard-cover: 10vh

*
  box-sizing: border-box

html, body
  min-height: 100vh

body
  background: #f7f6f9
  font-family: sans-serif
  font-size: 16px
  margin: 0
  user-select: none

h1, h2, h3, h4, h5, h6, p, figure
  margin: 0

input.plain-text-input
  all: unset
  font-family: inherit
  font-size: 1em
