
:host
  position: relative

  > main
    animation: translate-y-in .3s ease forwards, opacity-in .3s ease forwards
    background: var(--gray-900)
    border-radius: var(--radius)
    box-shadow: var(--shadow)
    display: flex
    flex-direction: column
    left: 0
    opacity: 0
    padding: 8px
    position: absolute
    top: calc(100% + 4px)
    transform: translateY(-4px)
    width: clamp(200px, 20vw, 300px)

    .colors
      display: grid
      gap: 8px
      grid-auto-rows: 32px
      grid-template-columns: repeat(auto-fill, minmax(32px, 1fr))

      .color
        align-items: center
        background: currentColor
        clip-path: url(#smooth-rounded-square)
        color: var(--gray-500)
        cursor: pointer
        display: flex
        justify-content: center
        padding: 8px

        &:hover
          transform: scale(.9)
